<div class="mt-4 mb-5 pb-5">
  <div class="container">
    <div class="p-4 align-items-center border shadow bg-white rounded-3">
      <div class="mb-4">
        <h1></h1>
      </div>

      <%= link_to "Добавить", new_repository_path, class: "btn btn-primary" %>

      <table class="table table-striped table-hover mt-4">
        <thead>
          <tr>
            <th scope="col">Название</th>
            <th scope="col">Язык</th>
            <th scope="col">Статус последней проверки</th>
          </tr>
        </thead>
        <tbody>
          <% @repositories.each do |repository| %>
            <tr>
              <td><%= link_to repository.full_name, repository_path(repository) %></td>
              <td><%= repository.language %></td>
              <td>
                <% if repository.last_check.present? %>
                  <%= repository.last_check.human_status %>
                <% else %>
                  —
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
