<div class="container mt-5">
  <div class="p-4 align-items-center border shadow bg-white rounded-3">
    <div class="mb-4">
      <h1>Github Quality</h1>
    </div>
    <div class="display-4 fw-bold mb-0">Привет !</div>
    <p class="mb-4">Сервис для анализа качества репозиториев на GitHub</p>
    <h2 class="fw-bold">Анализатор качества репозиториев</h2>
    <p>Проект, который помогает автоматически следить за качеством репозиториев на Github. Он отслеживает изменения и прогоняет их через встроенные анализаторы. Затем формирует отчёты и отправляет их пользователю.</p>
  </div>
</div>
