.mt-4.mb-5.pb-5
  .container
    .p-4.align-items-center.border.shadow.bg-white.rounded-3
      .mb-4
        h1 = t('views_i18n.repositories.index.title')

      = link_to t('views_i18n.repositories.index.add'), new_repository_path, class: 'btn btn-primary'

      table.table.table-striped.table-hover.mt-4
        thead
          tr
            th scope="col" = t('views_i18n.repositories.index.table.name')
            th scope="col" = t('views_i18n.repositories.index.table.language')
            th scope="col" = t('views_i18n.repositories.index.table.last_check_status')
        tbody
          - @repositories.each do |repository|
            tr
              td = link_to repository.full_name, repository_path(repository)
              td = repository.language_text
              td
                - if repository.last_check.present?
                  = check_status_text(repository.last_check)
                - else
                  | —
