.mt-4.mb-5.pb-5
  .container
    .p-4.align-items-center.border.shadow.bg-white.rounded-3
      .mb-4
        h1 = @repository.full_name

      = button_to t('views_i18n.repositories.show.run_check'),
                  repository_checks_path(@repository),
                  class: 'btn btn-primary mb-4',
                  form: { data: { turbo: false } }

      p
        strong.me-2 = t('views_i18n.repositories.show.name')
        = @repository.full_name
      p
        strong.me-2 = t('views_i18n.repositories.show.language')
        = @repository.language_text
      p
        strong.me-2 = t('views_i18n.repositories.show.created_at')
        = l @repository.created_at, format: :long
      p
        strong.me-2 = t('views_i18n.repositories.show.updated_at')
        = l @repository.updated_at, format: :long

      hr

      - if @checks.present?
        table.table.table-striped
          thead
            tr
              th scope="col"
              th scope="col" = t('views_i18n.repositories.show.checks.status')
              th scope="col" = t('views_i18n.repositories.show.checks.commit_id')
              th scope="col" = t('views_i18n.repositories.show.checks.passed')
              th scope="col" = t('views_i18n.repositories.show.checks.created_at')
          tbody
            - @checks.each do |check|
              - short = check_short_commit_id(check)
              - url = check_github_commit_url(check)

              tr
                td scope="row"
                  = link_to check.id, repository_check_path(@repository, check)
                td scope="row" = check_status_text(check)
                td scope="row"
                  - if short.present? && url.present?
                    = link_to short,
                              url,
                              target: '_blank',
                              rel: 'noopener'
                td scope="row"
                  - unless check.passed.nil?
                    = check.passed
                td scope="row" = l check.created_at, format: :short
      - else
        p.text-muted.mb-0 = t('views_i18n.repositories.show.checks_empty')
